.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;

  background: #999;
  -webkit-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.12);
}

/*.ttle {
    width: 475px;
    margin: 0 auto;
    height: auto;
}
*/
/*.header__content-text {
  text-align: center;
  padding: 10px 20px;
}

.page__content-container {
  margin: 100px auto;
  width: 975px;
  padding: 30px;
}*/
